:root {
    --top-botbgcolor: #2F303A;
    --maintextandbg: #FFF;
    --middown: #F5F4FA;
    --bluetext: #2196F3;
    --greytext: #212121;
    --blacktext: #000;
    --lighttext: #757575;
    --infocolor: rgba(255, 255, 255, 0.60);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto";
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

/* webstudio-logo */

.logo-web {
    color: var(--bluetext);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header-logo {
    color: var(--blacktext);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

/* header */

.header-link {
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link {
    color: var(--greytext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover, .header-link:hover {
    color: var(--bluetext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

/* hero */

.hero {
    background-color: var(--top-botbgcolor);
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-title {
    color: var(--maintextandbg);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-button {
    color: var(--maintextandbg);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--bluetext);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
}

/* advantages */

.advantages-list {
    margin-top: 94px;
    margin-bottom: 94px;
}

.advantages-subtitle {
    color: var(--greytext);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

/* work */

.work-title {
    color: var(--greytext);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-list {
    margin-bottom: 94px;
}

/* team */

.team {
    background-color: var(--middown);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--greytext);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-name {
    color: var(--greytext);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.team-text {
    color: var(--lighttext);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

/* portfolio */

.port-button {
    color: var(--greytext);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
    letter-spacing: 0.48px;
    padding: 6px 22px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--middown);
}

.port-button:hover {
    color: var(--maintextandbg);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
    letter-spacing: 0.48px;
    padding: 6px 22px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--bluetext);
}

.card-title {
    color: var(--greytext);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.card-text {
    color: var(--lighttext);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    letter-spacing: 0.48px;

}

/* footer */

.footer {
    background-color: var(--top-botbgcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--maintextandbg);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-link {
    color: var(--maintextandbg);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-info {
    color: var(--infocolor);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

