:root {
    --top-botbgcolor: #2F303A;
    --maintextandbg: #FFF;
    --middown: #F5F4FA;
    --bluetext: #2196F3;
    --greytext: #212121;
    --blacktext: #000;
    --lighttext: #757575;
    --infocolor: rgba(255, 255, 255, 0.60);
}

body {
    font-family: "Roboto";
}

/* webstudio-logo */

.web {
    color: var(--bluetext);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo {
    color: var(--blacktext);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

/* header */

.nav-link-st {
    color: #2196F3;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link {
    color: var(--greytext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-item-ma {
    color: var(--bluetext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-item {
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

/* hero */

.hero-title {
    color: var(--maintextandbg);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    color: var(--maintextandbg);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}

/* advantages */

.advantages-subtitle {
    color: var(--greytext);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

/* work */

.work-title {
    color: var(--greytext);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

/* team */

.team-title {
    color: var(--greytext);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

/* footer */

.foot-link {
    color: var(--maintextandbg);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.foot-info {
    color: var(--infocolor);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.foot-logo {
    color: var(--maintextandbg);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}