.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title {
    color: var(--greytext);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.work-img {
    width: 370px;
}